@model BlogDetailsWebModel
@{
    ViewBag.Title = "Thought Details";
}

<!-- Blogs - детальные данные одного блога, страница блогов -->
<header class="major">
    <h1>@ViewBag.Title</h1>
</header>

<div>
    <a class="button" asp-controller="Blog" asp-action="Index">
        Back to Thoughts
    </a>
</div>

<div class="posts">
    <article>
        <h3>@Model.Post.Title</h3>
        <p>Дата: @Model.Post.Date.ToString("dd.MM.yyyy")</p>
        <p>@Html.Raw(Model.Post.Body)</p>
        <p>Автор: @Model.Post.User?.NickName</p>
        <p>Категория: @Model.Post.Category?.Name</p>
        <h3>Теги:</h3>
        <div>
            @foreach (var e in Model.Post.Tags)
            {
                <span>@e.Name</span>
            }
        </div>
        <h3>Комментарии:</h3>
        <div>
            @foreach (var e in Model.Post.Comments)
            {
                <p>Дата: @e.Date.ToString("dd.MM.yyyy") @e.Body Автор: @e.User?.NickName</p>
            }
        </div>
    </article>
</div>
