@model Post

<article>
    <h3>@Model.Title</h3>
    <p>Дата: @Model.Date.ToString("dd.MM.yyyy")</p>
    <rawhtml text="@Model.Body"/>
    <p>Автор: @Model.User?.NickName</p>
    <ul class="actions">
        <li><a asp-controller="Blog" asp-action="Details" asp-route-id="@Model.Id" class="button">Подробнее ...</a></li>
    </ul>
</article>

